[submodule "Dependencies/Eqx_Lib"]
	path = Dependencies/Eqx_Lib
	url = https://github.com/tony942316/Eqx_Lib.git
	branch = main
[submodule "Dependencies/Eqx_TPL"]
	path = Dependencies/Eqx_TPL
	url = https://github.com/tony942316/Eqx_TPL.git
	branch = main
